# Pandas(panel/table data)
- Much of it comes from the "R" statistical language
- Can connect directly to databases
- Can read/write in many file formats
- [doc](http://pandas.pydata.org)

In [1]:
from pandas import *
url = '/Users/lstead/me/classes/columbia/python/packtpub/dataAnalysis/3358OS_Code/3358OS_04_Code/code4/WHO_first9cols.csv'

In [2]:
# make a 'data frame'

df = read_csv(url)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
5,Antigua and Barbuda,6,4,NaN,NaN,15130.0,NaN,NaN,84.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0
11,Bahamas,12,4,46.0,NaN,NaN,89.0,87.0,327.0
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0
14,Barbados,15,4,51.0,NaN,15150.0,96.0,97.0,293.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0
17,Belize,18,5,90.0,70.3,7080.0,97.0,97.0,282.0
18,Benin,19,3,108.0,34.7,1250.0,73.0,87.0,8760.0
19,Bermuda,20,4,NaN,NaN,NaN,NaN,NaN,NaN
20,Bhutan,21,7,62.0,NaN,4000.0,79.0,79.0,649.0
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0
27,Burkina Faso,28,3,131.0,23.6,1130.0,42.0,52.0,14359.0
28,Burundi,29,3,30.0,59.3,320.0,73.0,76.0,8173.0
29,Cambodia,30,7,52.0,73.6,1550.0,89.0,91.0,14197.0
...,...,...,...,...,...,...,...,...,...
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0
176,Taiwan,177,6,NaN,NaN,NaN,NaN,NaN,NaN
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0
178,Tanzania,179,3,139.0,69.4,980.0,97.0,98.0,39459.0
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0
180,Timor-Leste,181,6,49.0,NaN,5100.0,67.0,70.0,1114.0
181,Togo,182,3,89.0,53.2,770.0,75.0,86.0,6410.0
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0
184,Tunisia,185,1,8.0,74.3,6490.0,97.0,96.0,10215.0
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0
187,Tuvalu,188,6,NaN,NaN,NaN,NaN,NaN,10.0
188,Uganda,189,3,159.0,68.1,880.0,NaN,NaN,29899.0
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [3]:
# quick summary of the data

df.describe()

/Users/lstead/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.890000e+02
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409964e+04
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.318377e+05
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00
25%,51.250000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,101.500000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,151.750000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06

In [4]:
[df.shape, len(df), df.columns]

[(202, 9),
 202,
 Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
        'Adult literacy rate (%)',
        'Gross national income per capita (PPP international $)',
        'Net primary school enrolment ratio female (%)',
        'Net primary school enrolment ratio male (%)',
        'Population (in thousands) total'],
       dtype='object')]

In [5]:
# pull a column out

cs= df['Country']
print(type(cs))
cs

<class 'pandas.core.series.Series'>

0                   Afghanistan
1                       Albania
2                       Algeria
3                       Andorra
4                        Angola
5           Antigua and Barbuda
6                     Argentina
7                       Armenia
8                     Australia
9                       Austria
10                   Azerbaijan
11                      Bahamas
12                      Bahrain
13                   Bangladesh
14                     Barbados
15                      Belarus
16                      Belgium
17                       Belize
18                        Benin
19                      Bermuda
20                       Bhutan
21                      Bolivia
22       Bosnia and Herzegovina
23                     Botswana
24                       Brazil
25            Brunei Darussalam
26                     Bulgaria
27                 Burkina Faso
28                      Burundi
29                     Cambodia
                 ...
172                   Swaziland
173                      Sweden
174                 Switzerland
175                       Syria
176                      Taiwan
177                  Tajikistan
178                    Tanzania
179                    Thailand
180                 Timor-Leste
181                        Togo
182                       Tonga
183         Trinidad and Tobago
184                     Tunisia
185                      Turkey
186                Turkmenistan
187                      Tuvalu
188                      Uganda
189                     Ukraine
190        United Arab Emirates
191              United Kingdom
192    United States of America
193                     Uruguay
194                  Uzbekistan
195                     Vanuatu
196                   Venezuela
197                     Vietnam
198          West Bank and Gaza
199                       Yemen
200                      Zambia
201                    Zimbabwe
Name: Country, dtype: object

In [6]:
# can slice a data frame

cs[-2:]

200      Zambia
201    Zimbabwe
Name: Country, dtype: object

In [7]:
# give a list of indexes

cs[[12, 191, 200]]

12            Bahrain
191    United Kingdom
200            Zambia
Name: Country, dtype: object

In [8]:
# like linux 'head'

df.head(4)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0

In [9]:
# like linux 'tail' command

df.tail(4)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [10]:
# column name

lit = 'Adult literacy rate (%)'

# pull out info about the column

[lit, df[lit].min(), df[lit].max(), df[lit].mean(), df[lit].std()]

['Adult literacy rate (%)',
 23.600000000000001,
 99.799999999999997,
 78.87175572519084,
 20.415760408262123]

In [11]:
# select countries with literacy rate greater than the mean

df[ df[lit] > df[lit].mean()]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0
32,Cape Verde,33,1,104.0,81.2,2590.0,87.0,88.0,519.0
35,Chile,36,5,49.0,95.7,11300.0,89.0,90.0,16465.0
36,China,37,7,3.0,90.9,4660.0,96.0,100.0,1328474.0
37,Colombia,38,5,92.0,92.8,6130.0,88.0,89.0,45558.0
40,"Congo, Rep.",41,3,132.0,84.4,2420.0,52.0,58.0,NaN
42,Costa Rica,43,5,77.0,94.9,9220.0,88.0,87.0,4399.0
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0
45,Cuba,46,5,47.0,99.8,NaN,97.0,96.0,11267.0
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0
51,Dominican Republic,52,5,118.0,87.0,5550.0,78.0,76.0,9615.0
52,Ecuador,53,5,100.0,91.0,6810.0,97.0,96.0,13202.0
55,Equatorial Guinea,56,3,128.0,87.0,16620.0,83.0,91.0,496.0
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0
63,Gabon,64,3,144.0,83.8,11180.0,88.0,88.0,1311.0
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0
75,Honduras,76,5,108.0,80.0,3420.0,97.0,96.0,6969.0
80,Indonesia,81,6,54.0,90.4,3310.0,94.0,97.0,228864.0
81,Iran (Islamic Republic of),82,1,35.0,82.4,9800.0,100.0,91.0,70270.0
...,...,...,...,...,...,...,...,...,...
142,Peru,143,5,59.0,87.9,6490.0,97.0,96.0,27589.0
143,Philippines,144,6,55.0,92.6,3430.0,92.0,90.0,86264.0
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0
147,Qatar,148,1,19.0,89.0,NaN,94.0,93.0,821.0
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0
154,Samoa,155,6,45.0,98.6,5090.0,91.0,90.0,185.0
156,Sao Tome and Principe,157,3,91.0,84.9,1490.0,98.0,97.0,155.0
157,Saudi Arabia,158,1,15.0,82.9,22300.0,87.0,87.0,24175.0
160,Seychelles,161,3,NaN,91.8,14360.0,100.0,99.0,86.0
162,Singapore,163,6,7.0,92.5,43300.0,77.0,77.0,4382.0
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0
167,South Africa,168,3,65.0,82.4,8900.0,88.0,88.0,48282.0
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0
169,Sri Lanka,170,7,29.0,90.7,3730.0,100.0,99.0,19207.0
171,Suriname,172,5,62.0,89.6,7720.0,98.0,95.0,455.0
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [12]:
# make a new data frame with the selected rows

df2 = df[ df[lit] > df[lit].mean()]
df2

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0
32,Cape Verde,33,1,104.0,81.2,2590.0,87.0,88.0,519.0
35,Chile,36,5,49.0,95.7,11300.0,89.0,90.0,16465.0
36,China,37,7,3.0,90.9,4660.0,96.0,100.0,1328474.0
37,Colombia,38,5,92.0,92.8,6130.0,88.0,89.0,45558.0
40,"Congo, Rep.",41,3,132.0,84.4,2420.0,52.0,58.0,NaN
42,Costa Rica,43,5,77.0,94.9,9220.0,88.0,87.0,4399.0
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0
45,Cuba,46,5,47.0,99.8,NaN,97.0,96.0,11267.0
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0
51,Dominican Republic,52,5,118.0,87.0,5550.0,78.0,76.0,9615.0
52,Ecuador,53,5,100.0,91.0,6810.0,97.0,96.0,13202.0
55,Equatorial Guinea,56,3,128.0,87.0,16620.0,83.0,91.0,496.0
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0
63,Gabon,64,3,144.0,83.8,11180.0,88.0,88.0,1311.0
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0
75,Honduras,76,5,108.0,80.0,3420.0,97.0,96.0,6969.0
80,Indonesia,81,6,54.0,90.4,3310.0,94.0,97.0,228864.0
81,Iran (Islamic Republic of),82,1,35.0,82.4,9800.0,100.0,91.0,70270.0
...,...,...,...,...,...,...,...,...,...
142,Peru,143,5,59.0,87.9,6490.0,97.0,96.0,27589.0
143,Philippines,144,6,55.0,92.6,3430.0,92.0,90.0,86264.0
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0
147,Qatar,148,1,19.0,89.0,NaN,94.0,93.0,821.0
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0
154,Samoa,155,6,45.0,98.6,5090.0,91.0,90.0,185.0
156,Sao Tome and Principe,157,3,91.0,84.9,1490.0,98.0,97.0,155.0
157,Saudi Arabia,158,1,15.0,82.9,22300.0,87.0,87.0,24175.0
160,Seychelles,161,3,NaN,91.8,14360.0,100.0,99.0,86.0
162,Singapore,163,6,7.0,92.5,43300.0,77.0,77.0,4382.0
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0
167,South Africa,168,3,65.0,82.4,8900.0,88.0,88.0,48282.0
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0
169,Sri Lanka,170,7,29.0,90.7,3730.0,100.0,99.0,19207.0
171,Suriname,172,5,62.0,89.6,7720.0,98.0,95.0,455.0
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0